{% extends 'base.html' %}

{% block content%}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="'display-1 text-center">Django App</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, veniam. Quisquam ipsam consequuntur recusandae accusamus, nihil perspiciatis dolores corporis. At consectetur voluptatum aut corrupti facere illum animi id fuga autem, ipsum quibusdam ducimus dolore nobis iure temporibus sunt impedit quidem consequatur! Laudantium veniam rerum fuga vel voluptas laboriosam non officia blanditiis quia, eligendi repellat accusamus deleniti sapiente nemo nesciunt quam? Asperiores cumque vel libero eligendi? Molestias voluptatum cumque est necessitatibus aperiam. Repellendus, labore totam excepturi eos laboriosam ratione rem illum, fuga vero cum voluptatibus. Assumenda voluptates nulla labore, explicabo recusandae iusto suscipit impedit nostrum, aliquid, est quasi quae fuga odit.</p>
       <div class="text-center">
        <a href="/signin" class="btn btn-success">
            Signin
        </a>
        <a href="/signup" class="btn btn-dark">
            Signup
        </a>
    </div>
    </section>

</main>

{% endblock%}
